*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body,
  button,
  input,
  textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }
  
  body{
    margin: var(--header-height) 0 0 0;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .4s; /*For animation dark mode*/
  }
  
  button{
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }
  
  ul{
    list-style: none;
  }
  
  a{
    text-decoration: none;
  }
  
  img{
    max-width: 100%;
    height: auto;
    border-radius: 3rem;
  }
  

.container{
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
.grid{
    display: grid;
  }
.home{
    padding: 3.5rem 0 2rem;
  }
  
  .home__container{
    position: relative;
    row-gap: 2rem;
  }
  
  .home__img{
    width: 200px;
    justify-self: center;
  }
  
  .home__title{
    font-size: var(--big-font-size);
    line-height: 140%;
    margin-bottom: var(--mb-1);
  }
  
  .home__description{
    margin-bottom: var(--mb-2-5);
  }
  
  .home__social{
    position: absolute;
    top: 2rem;
    right: -1rem;
    display: grid;
    justify-items: center;
    row-gap: 3.5rem;
  }
  
  .home__social-follow{
    font-weight: var(--font-medium);
    font-size: var(--smaller-font-size);
    color: var(--first-color);
    position: relative;
    transform: rotate(90deg);
  }
  
  .home__social-follow::after{
    content: '';
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: var(--first-color);
    right: -45%;
    top: 50%;
  }
  
  .home__social-links{
    display: inline-flex;
    flex-direction: column;
    row-gap: .25rem;
  }
  
  .home__social-link{
    font-size: 1rem;
    color: var(--first-color);
    transition: .3s;
  }
  
  .home__social-link:hover{
    transform: translateX(.25rem);
  }
  

  /*=============== BUTTONS ===============*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #ffffff;
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
  }
  
  .button:hover{
    background-color: var(--first-color-alt);
  }
  
  .button__icon{
    transition: .3s;
  }
  
  .button:hover .button__icon{
    transform: translateX(.25rem);
  }
  
  .button--flex{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
  }
  
  .button--link{
    color: var(--first-color);
    font-weight: var(--font-medium);
  }
  
  .button--link:hover .button__icon{
    transform: translateX(.25rem);
  }